@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --black: #000000;
    --white: #E2DAD2;
    --red: #DB5475;
    --green: #98A16A;
    --blue: #528297;
    --orange: #EE9589;
    --yellow: #F3DF89;
    --pink: #DC869F;
    --violet: #9085C1;
    --light-blue: #99A7B4;

    /* --glow: #DB547580; */
    --glow: #DC869F60;

    --max-width: 840px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 5em;
}

/* ============= */
/* Global Styles */
/* ============= */
html {
    scroll-behavior: smooth;
}

body { 
    font-family: Ubuntu Mono, monospace;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
}

p {
    margin: 1rem 0;
    text-indent: 0;
}

h1 {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
    color: var(--green);
}

h2 {
    font-size: 1.75rem;
    margin: 4rem 0 1rem 0;
    color: var(--red);
}

h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--green);
}

a {
    text-decoration: none;
    color: var(--blue);
}
a:hover {
    text-decoration: underline;
}

mark {
    background-color: var(--light-blue);
    padding: 1px 2px;
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    margin: -10px 0 10px 0;
    background-color: #e0e0e0;
}

ul {
    margin: 0 0 0 2rem;
}

.highlight {
    background-color: var(--violet);
    color: var(--white);
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 700;
}

/* ============ */
/* Main content */
/* ============ */
.content-wrapper {
    padding: 0 20px;
    max-width: var(--max-width);
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 20px;
    transition: all 0.3s ease-in-out;
}
.header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    z-index: 1;
}
.header a {
    color: var(--white);
}
.header .logo {
    font-size: 24px;
    font-weight: 700;
    padding-left: auto;
}
.toggle-style {
  cursor: pointer;
}
#modeToggle {
    cursor: pointer;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header nav a:last-child {
  margin-right: 0;
}
.header-content.shrink {
  padding: 5px 20px;
}

/* ========= */
/* Main menu */
/* ========= */
.image-container {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    background-color: var(--violet);
    background-size: cover;
    background-position: center;
}
.image-container a{
    color: var(--black);
}
.image-container p {
    padding: 20px;
    margin-bottom: 60px;
    text-indent: 0;
}
.image-wrapper-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 7px 10px;
    background-color: var(--black);
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
}
.image-wrapper-button a {
    color: var(--white);
}
.image-wrapper-button a:hover {
    text-decoration: none;
}
.image-wrapper-button:hover {
    background-color: var(--glow);
}

/* =============== */
/* Main components */
/* =============== */
.divider {
    position: absolute;
    background-color: var(--orange);
    left: 0;
    right: 0;
    height: 5px;
}

.spacer {
    height: 20px;
}

.rectangle {
    position: absolute;
    height: 10px;
}

/* ===== */
/* Cards */
/* ===== */
.card-row {
      display: flex;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      margin: 0;
      padding: 0;
}
.card-row::-webkit-scrollbar {
      display: none;
}
.card {
    position: relative;
    flex: 0 0 auto;
    width: 40%;
    border: 2px solid var(--white);
    height: 225px;
    padding: 20px;
    margin: 18px 0 18px 18px;
}
.card:hover {
    animation: glow-ocean 5s ease-in-out infinite alternate forwards;
}
@keyframes glow-ocean {
    0% {
        box-shadow: 0 0 0px 0 var(--glow);
    }
    25% {
        box-shadow: 0 0 18px 2px var(--glow);
    }
    50% {
        box-shadow: 0 4px 18px 2px var(--glow);
    }
    100% {
        box-shadow: -4px -4px 18px 0px var(--glow);
    }
}

.card-header {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--violet);
}
.card-description {
    padding-bottom: 10px;
    color: var(--white);
}
.card-date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    font-size: 0.75rem;
    color: var(--orange);
}
.cscard-button {
    display: none;
}

.card-button-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.card-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5px;
    width: 80px;
    height: 30px;

    background-color: var(--red);

    color: var(--black);
    font-size: 0.9rem;
    font-weight: 700;
}
.card-button:hover {
    text-decoration: none;
}
.icon-container {
    position: relative;
}
.black-square {
    background-color: var(--black);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -12px;
    right: -2px;
    transition: transform 0.5s ease;
    transform-origin: right;
}
.circle {
    background-color: var(--red);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: -6px;
    right: 4px;
}
.card-button:hover .icon-container .black-square {
  transform: scaleX(0); /* Shrinks the square to zero width */
}

/* ==== */
/* Code */
/* ==== */
pre {
    /* margin: 0 12px 24px 12px; */
    margin-bottom: 24px;
    padding: 12px 24px 6px 24px;

    border: 1px solid var(--white);

    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
pre::-webkit-scrollbar, code::-webkit-scrollbar {
    display: none;
}
code {
    background-color: var(--black) !important;
    font-size: 0.9rem !important;
}
.file {
    color: var(--orange);
    margin: 18px 0 0 0;
    font-size: 12px;
}
.code-container {
    position: relative;
}
.copy-btn {
    position: absolute;
    right: 0;
    top: -16px;
    margin: 0;
    padding: 0;

    background: none;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;

    font-size: 12px;
    color: var(--pink);
    background-color: none;
}

/* ====== */
/* Images */
/* ====== */
.image-wrapper {
    margin: 0 12px 12px 12px;
    padding: 6px 24px;
    overflow-x: auto;
    border: 1px solid var(--white);
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.image-wrapper::-webkit-scrollbar {
      display: none;
}
.caption {
    text-align: center;
    font-size: 12px;
}

.subtitle {
    font-size: 14px;
}

/* ===== */
/* Entry */
/* ===== */
.entry {
    margin: 0 0 12px 0;
}
.entry .entry-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-left: 3ch;
    text-indent: -3ch;
}
.entry .entry-title::before {
    content: ">> ";
}
.entry .entry-content{
    padding-left: 3.5ch;
    text-indent: -3ch;
}
.entry .entry-content::before {
    content: "\00A0\00A0";
}

/* ===== */
/* Notes */
/* ===== */
.note {
    display: flex;
    align-items: flex-start;
}

.note .icon {
    display: flex;
    align-items: center;
}

.note .icon img {
    height: 1.5rem;
    margin-right: 6px;
    margin-top: 
}

/* ============ */
/* Mobile stuff */
/* ============ */
@media screen and (max-width: 768px) {
    .card {
        width: 80%;
        height: 360px;
    }
}
